.activities {
  display: none;

  @include on-desktop {
    position: absolute;
    display: flex;
    align-items: center;

    bottom: 0;
    transform-origin: bottom left;
    transform: rotate(-90deg);

    flex-direction: row;
    gap: 20px;
  }

  &__line {
    width: 70px;
    height: 1px;

    background-color: $accent-green-color;
  }

  &__text {
    margin: 0;
    font-weight: 700;
    line-height: 100%;
    width: 14px;
    color: $grey-color;
  }
}
