.logo {
  display: block;
  height: 61px;

  background-image: url(../images/icons/icon_NA-MU_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: $effect-duration;

  @include hover(transform, scale(1.1));

  @include on-tablet {
    height: 72px;
  }
}
