.nav {
  display: flex;
  flex-direction: row;

  &__block {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    gap: 24px;
  }

  &__link {
    position: relative;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $main-black-color;

      transition: transform $effect-duration;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
      outline: none;
    }

    &--white {
      color: $main-white-color;

      &::after {
        background-color: $main-white-color;
      }
    }

    &--black {
      color: $main-black-color;
    }
  }
}
