.picture {
  display: grid;
  scroll-snap-align: start;

  &--wide {
    @include on-desktop {
      grid-column: span 8;
    }
  }

  &--thin {
    @include on-desktop {
      grid-column: span 4;
    }
  }

  &--mobile-only {
    @include on-desktop {
      display: none !important;
    }
  }
}
