.scroll {
  position: absolute;
  bottom: -20px;
  left: 50%;

  transform: translateX(-50%);
  display: flex;
  gap: 22px;

  @include on-desktop {
    display: none;
  }

  &__point {
    cursor: pointer;
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;

    background-color: #e0e0e0;

    transition: background-color $effect-duration ease;
  }
}
