$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$tablet-content-padding: 34px;
$desktop-content-padding: 55px;
$effect-duration: 0.5s;
$main-black-color: #0f0e08;
$main-white-color: #fff;
$accent-green-color: #1a5a4c;
$accent-red-color: #f14a27;
$grey-color: #687480;
$dark-grey-color: #4e4e4e;
